body {
    background-color: rgb(253, 251, 251)
}

#cabecalho{
    background-color: #e09f3e;
    font-family: monospace;
    position: fixed;
    top: 0;
    color: grey;
}

#minha_foto{
    width: 20%;
    border-radius: 100%;
}

#links_navegacao{
    background-color: #e09f3e;
}

#barra-eu{
    border:#e09f3e solid;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
}
#artigo{
    font-family: monospace
}

