body {
    background-color: rgb(253, 251, 251)
}

#cabecalho{
    background-color: #e09f3e;
    font-family: monospace;
    padding: 0.5%;
    color: grey;
    text-decoration: none;
}

#minha_foto{
    width: 20%;
    border-radius: 100%
}

#barra-eu{
    border:#e09f3e solid;
    text-align: center;
    font-family: monospace
}
#artigo{
    font-family: monospace
}

